/* ------------- Button ------------- */

.button {
    border-radius: 8px;
    background-color: #9333ea;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.5px;
    padding-inline: 40px;
    padding-block: 16px;
    text-align: center;
    transition: .3s all;
    cursor: pointer;
    &:hover {
        background-color: #6007b3;
    }
}

.button--min {
    font-size: 16px;
    padding-inline: 28px;
    padding-block: 12px;
    line-height: 1.5;
}

.button--transparent {
    background-color: transparent;
}

.button--white-border {
    background-color: transparent;
    border: 2px solid #fff;
    padding-block: 14px;
    &:hover {
        border: 2px solid #6007b3;
    }
}

/* ------------- Label ------------- */
.label {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.label--margin {
    margin-bottom: 16px;
}
/* ------------- Title ------------- */
.title {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.1;
    text-wrap: balance;
}
.title--center {
    text-align: center;
}
.block-header {
    display: grid;
    gap: 32px;
}
.block-header--center {
    justify-content: center;
}

.block-header__title {
    font-size: 72px;
    line-height: 1.1;
    font-weight: 800;
    text-wrap: balance;
    span {
        display: inline-block;
    }
}
.block-header__border {
    position: relative;
    span {
        position: relative;
        z-index: 3;
    }
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 96%;
        left: -10px;
        top: 0;
        border: 5px solid #c2410c;
    }
}
.block-header__background {
    position: relative;
    span {
        position: relative;
        z-index: 3;
    }
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 23%;
        left: -10px;
        top: 0;
        background-color: #BE185D;
    }
}
.block-header__line {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 5px;
        background-color: #C084FC;
    }
    span {
        position: relative;
        z-index: 3;
    }
}
.block-header__line--bottom::before {
    bottom: 0;
    left: 2px;
    width: 94%;
}

.block-header__line--top::before {
    top: 14px;
    left: 5px;
    width: 97%;
}
.block-header__purple {
    color: #9333ea;
}
.block-header__light-purple {
    color: #C084FC;
}
.block-header__text {
    max-width: 760px;
    line-height: 1.6;
    text-wrap: balance;
}
.block-header__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 7px;
    justify-content: center;
    align-items: center;
}

.block-header__link {
    justify-self: start;
    padding-right: 34px;
    background: url("../icons/arrow--right.svg") right no-repeat;
    span {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            left: 0;
            bottom: 0;
            background-color: #9333ea;
            transition: .5s width;
        }
    }
    &:hover span::after {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .block-header__title {
        font-size: 65px;
    }
    .block-header__line::before {
        height: 4px;
    }
    .block-header__line--top::before {
        top: 12px;
    }
    .title {
        font-size: 48px;
    }
    .block-header__border {
        &::before {
            left: -7px;
            border: 4px solid #c2410c;
        }
    }
}
@media (max-width: 767.98px) {
    .block-header__title {
        font-size: 44px;
    }
    .block-header__line::before {
        height: 3px;
    }
    .block-header__line--top::before {
        top: 10px;
    }
    .title {
        font-size: 40px;
    }
    .block-header__border {
        &::before {
            left: -5px;
            border: 3px solid #c2410c;
        }
    }
}
@media (max-width: 550.98px) {
    .block-header__line::before {
        height: 4px;
    }
	.block-header__line--bottom::before {
        display: none;
    }
	.testimonials__block-header .block-header__line--bottom::before {
        display: block;
    }
}

@media (max-width: 479.98px) {
    .block-header__buttons {
        flex-direction: column;
        align-items: stretch;
    }
}

.link-event {
    background: url("../img/events/arrow_right--purple.svg") right no-repeat;
    padding-right: 35px;
    color: #9333ea;
    span {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            left: 0;
            bottom: 0;
            background-color: #9333ea;
            transition: .5s width;
        }
    }
    &:hover span::after {
        width: 100%;
    }
}