.button {
    border-radius: 8px;
    background-color: #9333ea;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.5px;
    padding-inline: 40px;
    padding-block: 16px;
    text-align: center;
    transition: .3s all;
    cursor: pointer;
    &:hover {
        background-color: #6007b3;
    }
}

.button--min {
    font-size: 16px;
    padding-inline: 28px;
    padding-block: 12px;
    line-height: 1.5;
}

.button--transparent {
    background-color: transparent;
}

.button--white-border {
    background-color: transparent;
    border: 2px solid #fff;
    padding-block: 14px;
    &:hover {
        border: 2px solid #6007b3;
    }
}