@import url("reset.css");
@import url("components.css");

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #0F172A;
    color: #fff;
}

.wrapper {
    min-block-size: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-inline-size: 1310px;
    margin-inline: auto;
    padding-inline: 15px;
}

/* -----------------Header----------------- */
.header {
}
.header__container {
}
.header__body {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07),0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.05);
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 24px;
    align-items: center;
    column-gap: 38px;
    row-gap: 5px;
}
.header__link-logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.header__actions {
}
.actions-header {
}
.actions-header__button {
}
.button {
}
.button--transparent {
}
.button--min {
}